
services:
  mysql:
    image: mariadb:10.6
    container_name: ${MYSQL_CONTAINER_NAME}
    restart: always
    ports:
      - "${MYSQL_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - autohost_net

  app:
    image: nextcloud
    container_name: ${APP_CONTAINER_NAME}
    restart: always
    ports:
      - "${APP_PORT}:80"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST: mysql
    depends_on:
      - mysql
    volumes:
      - app_data:/var/www/html
    networks:
      - autohost_net

volumes:
  mysql_data:
  app_data:

networks:
  autohost_net:
    external: true
